.Logo{
display: block;    
margin: auto;
width: 50px;
height: 50px;
}

/* body{ */
    /* background-image: linear-gradient(rgba(12, 231, 96, 0.486), rgba(29, 214, 122, 0.055) ); */
/* } */
.container{
    max-width: 955px;
    background-color: rebeccapurple;
    margin: auto;
    height: 60vh;

}
.message{
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 17px 13px;
    border: 2px solid black;
    border-radius: 20px;
}

.right{
    float: right;
    clear: both;

}
.left{
    float: left;
    clear: both;
}

}